body {
    background-color: whitesmoke;
}

.contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact .box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.head p {
    font-weight: bold;
}

.box button {
    position:absolute;
    transform: translateX(-50%);
}